PORT=5000
MONGODB_URI=mongodb+srv://habibabdulfetah230_db_user:xLFzQlqYWCb37Tjj@cluster0.qhmuuje.mongodb.net/
JWT_SECRET=super-secure-secret
JWT_EXPIRES_IN=1d
DEFAULT_ADMIN_EMAIL=habibabdulfetah230@gmail.com
DEFAULT_ADMIN_PASSWORD=habib@123
DEFAULT_ADMIN_NAME=Habib abdulfetah
DB_PASWORD=xLFzQlqYWCb37Tjj
USER_NAME=habibabdulfetah230_db_user